
input.width3 {
    width: 3em;
}

.alerts {
    position: relative;
}
.alert {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    text-align: center;
}

.false-answer {
    display: none;
}

.good-answer {
    display: none;
}

#score {
    float: right;
}

#question-el {
    text-align: center;
    font-size: 3em;
}

.jumbotron ul {
    line-height: 1em;
}
