footer {
    margin-top: 2em;
    border-top: 1px solid grey;
    text-align: center;
}

input.width3 {
    width: 3em;
}

.alerts {
    position: relative;
}
.alert {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 60%;
    text-align: center;
    margin: 0 20%;
}

.false-answer {
    display: none;
}

.good-answer {
    display: none;
}

#score, #timer {
    float: right;
    padding-left: 2em;
}

.question-title {
    margin-top: 0px;
}

#question-el {
    margin-top: 1em;
    text-align: center;
    font-size: 3em;
}

.jumbotron ul {
    line-height: 1em;
}
